if TARGET_RZG2L_SBC

config SYS_SOC
	default "rmobile"

config SYS_BOARD
	default "rzg2l-sbc"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "rzg2l-sbc"

config BOARD_SPECIFIC_OPTIONS
        def_bool y
        select BOARD_LATE_INIT
        select LAST_STAGE_INIT

endif
