if RCAR_GEN4

menu "Select Target SoC"

config R8A779A0
	bool "Renesas SoC R8A779A0"
	default y if TARGET_FALCON
	select GICV3
	imply CLK_R8A779A0
	imply PINCTRL_PFC_R8A779A0

config R8A779F0
	bool "Renesas SoC R8A779F0"
	default y if TARGET_SPIDER || TARGET_S4SK
	select GICV3
	imply CLK_R8A779F0
	imply PINCTRL_PFC_R8A779F0

config R8A779G0
	bool "Renesas SoC R8A779G0"
	default y if TARGET_WHITEHAWK || TARGET_SPARROWHAWK
	select GICV3
	select BINMAN
	select SUPPORT_SPL
	imply SPL
	imply SPL_BOARD_INIT
	imply SPL_LIBCOMMON_SUPPORT
	imply SPL_LIBGENERIC_SUPPORT
	imply SPL_SERIAL
	imply SPL_SYS_MALLOC_SIMPLE
	imply SPL_TINY_MEMSET
	imply SPL_USE_TINY_PRINTF
	imply CLK_R8A779G0
	imply PINCTRL_PFC_R8A779G0

config R8A779H0
	bool "Renesas SoC R8A779H0"
	default y if TARGET_GRAYHAWK
	select GICV3
	imply CLK_R8A779H0
	imply PINCTRL_PFC_R8A779H0

endmenu

config TARGET_FALCON
	bool "Falcon board"
	help
          Support for Renesas R-Car Gen3 Falcon platform

config TARGET_SPIDER
	bool "Spider board"
	help
	  Support for Renesas R-Car Gen4 Spider platform

config TARGET_S4SK
	bool "S4SK board"
	help
	  Support for Renesas R-Car Gen4 S4SK platform

config TARGET_WHITEHAWK
	bool "White Hawk board"
	help
	  Support for Renesas R-Car Gen4 White Hawk platform

config TARGET_SPARROWHAWK
	bool "Sparrow Hawk board"
	help
	  Support for Renesas R-Car Gen4 Sparrow Hawk platform

config TARGET_GRAYHAWK
	bool "Gray Hawk board"
	help
	  Support for Renesas R-Car Gen4 Gray Hawk platform

source "board/renesas/falcon/Kconfig"
source "board/renesas/spider/Kconfig"
source "board/renesas/s4sk/Kconfig"
source "board/renesas/whitehawk/Kconfig"
source "board/renesas/sparrowhawk/Kconfig"
source "board/renesas/grayhawk/Kconfig"

endif
